<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Basic_Details</servlet-name>
        <servlet-class>Basic_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Address</servlet-name>
        <servlet-class>Address</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ethinicity</servlet-name>
        <servlet-class>Ethinicity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Career</servlet-name>
        <servlet-class>Career</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Working</servlet-name>
        <servlet-class>Working</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Social</servlet-name>
        <servlet-class>Social</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Family</servlet-name>
        <servlet-class>Family</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lifestyle</servlet-name>
        <servlet-class>Lifestyle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Partner_Preferance</servlet-name>
        <servlet-class>Partner_Preferance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_partner_profile</servlet-name>
        <servlet-class>Search_partner_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Success_Story</servlet-name>
        <servlet-class>User_Success_Story</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_success_story</servlet-name>
        <servlet-class>Admin_success_story</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_SignIn</servlet-name>
        <servlet-class>Admin_SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_SignIn</servlet-name>
        <servlet-class>User_SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>LogIn1.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_user</servlet-name>
        <servlet-class>Login_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn_admin</servlet-name>
        <servlet-class>LogIn_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>All_details_user_profie</servlet-name>
        <servlet-class>All_details_user_profie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adhacard_verify</servlet-name>
        <servlet-class>Adhacard_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adharcard_verify</servlet-name>
        <servlet-class>Adharcard_verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aadhar_number</servlet-name>
        <servlet-class>Aadhar_number</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adhar_card</servlet-name>
        <servlet-class>Adhar_card</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Basic_details_User_profile</servlet-name>
        <servlet-class>Basic_details_User_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Basic_details_profile</servlet-name>
        <servlet-class>Basic_details_profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Basic_Details</servlet-name>
        <url-pattern>/Basic_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Address</servlet-name>
        <url-pattern>/Address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ethinicity</servlet-name>
        <url-pattern>/Ethinicity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Career</servlet-name>
        <url-pattern>/Career</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Working</servlet-name>
        <url-pattern>/Working</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Social</servlet-name>
        <url-pattern>/Social</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Family</servlet-name>
        <url-pattern>/Family</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lifestyle</servlet-name>
        <url-pattern>/Lifestyle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Partner_Preferance</servlet-name>
        <url-pattern>/Partner_Preferance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_partner_profile</servlet-name>
        <url-pattern>/Search_partner_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Success_Story</servlet-name>
        <url-pattern>/User_Success_Story</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_success_story</servlet-name>
        <url-pattern>/Admin_success_story</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_SignIn</servlet-name>
        <url-pattern>/Admin_SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_SignIn</servlet-name>
        <url-pattern>/User_SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_user</servlet-name>
        <url-pattern>/Login_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn_admin</servlet-name>
        <url-pattern>/LogIn_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>All_details_user_profie</servlet-name>
        <url-pattern>/All_details_user_profie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adhacard_verify</servlet-name>
        <url-pattern>/Adhacard_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adharcard_verify</servlet-name>
        <url-pattern>/Adharcard_verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aadhar_number</servlet-name>
        <url-pattern>/Aadhar_number</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adhar_card</servlet-name>
        <url-pattern>/Adhar_card</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Basic_details_User_profile</servlet-name>
        <url-pattern>/Basic_details_User_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Basic_details_profile</servlet-name>
        <url-pattern>/Basic_details_profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
